.dev button {
  cursor: pointer;
  height: 23px;
  margin: 2px;
  padding: 6px;
  font-size: 15px;
  line-height: 11px;
  border-radius: 4px;
  color: #222;
  background: rgba(222, 222, 222, 0.7);
  background: linear-gradient(0deg, rgb(180, 180, 180) 0%, rgb(148, 148, 148) 100%);
  border: 1px solid rgb(155, 155, 155);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(255, 255, 255, 0.3) inset;
}

.dev button:hover {
  background: rgba(235, 235, 235, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.dev button:active {
  transform: translateY(1px);
}

.dev button.selected {
  cursor: default;
  color: rgb(26, 21, 51);
  border: 1px solid rgb(255, 227, 168);
  box-shadow: 0 0 4px rgba(255, 167, 66, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.7), 0 1px 0px rgba(255, 255, 255, 0.7) inset;
  background: rgb(247, 144, 10);
  background: linear-gradient(0deg, rgb(255, 194, 102) 0%, rgb(248, 77, 10) 100%);
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.dev button.selected:hover {
  background: linear-gradient(0deg, rgb(255, 221, 129) 0%, rgb(255, 91, 41) 100%);
  outline: 1px solid rgba(0, 0, 0, 0.3);
}